extends ./layout.pug
block content
  h1 Upcoming Games
  ul
    for item in data
      li 
        p #{item.matchDate}
        p #{item.local.abbreviation} vs #{item.visiting.abbreviation}
        p #{item.tournament} • #{item.city}
      
